# Tomb OS Xen Dom0 Hypervisor Multidomain Isolation Configuration

[global]
hypervisor = /boot/xen-4.18.gz
dom0_mem = 2048M
dom0_max_vcpus = 4

# Virtual Machine Isolation Domains
[domain_red_untrusted]
name = "DomU-Untrusted-Red"
memory = 1024
vcpus = 2
disk = [ 'phy:/dev/vg0/red-zone,xvda,w' ]
vif = [ 'bridge=xenbr0,mac=00:16:3e:00:00:01' ]
apparmor_profile = "tombos_red_untrusted_chromium"

[domain_blue_secure]
name = "DomU-Secure-Blue"
memory = 2048
vcpus = 2
disk = [ 'phy:/dev/vg0/blue-zone,xvda,w' ]
vif = [ 'bridge=xenbr1,mac=00:16:3e:00:00:02' ]
apparmor_profile = "tombos_blue_secure_vault"

[domain_green_work]
name = "DomU-Work-Green"
memory = 1536
vcpus = 2
disk = [ 'phy:/dev/vg0/green-zone,xvda,w' ]
vif = [ 'bridge=xenbr0,mac=00:16:3e:00:00:03' ]
